<!-- Dependencies loading -->
<script src="../../../assets/js/vendor/lazyload/template/landing.js"></script>
<!-- Hero HEADER -->
<header class="row" id="page-top">
  <div class="header-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>LiquidLean</h1>
                <a href="/#/about" class="page-scroll btn custom-btn-2"
                   style="margin-right:10px; background: darkorange">LEARN MORE</a>
                <a href="#assets" class="page-scroll btn custom-btn-1">VIEW ASSETS</a>
            </div>
        </div>
  </header>
<!-- END: HERO HEADER -->

<!-- Navigation -->
<div id="navigation" style="height: 50px;">
    <nav class="navbar navbar-default navbar-static-top affix-top" id="nav">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
                </button>
                <!-- Brand -->
                <a class="navbar-brand page-scroll" href="#page-top"
                   style="font-size: 1.5em; margin-top: 5px; color: black;">LiquidLean</a>
                <!-- End Brand -->
            </div>
            <div class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav navbar-right">
                    <li class="#contact">
                        <a class="page-scroll" href="#contact">Contact Us</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- END: Navigation - ->


<!-- About - ->
<section id="about" style="padding-top: 20px; padding-bottom: 30px; border-bottom: 1px solid #F1EBEB;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="sub-headline hidden-xs" style="margin-top: -10px;">Our Digital Delivery Model</h1>
                <h2 class="sub-headline hidden-sm hidden-md hidden-lg text-center">#ACNAPI Liquidlean</h2>
                <h3 class="sub-headline hidden-sm hidden-md hidden-lg text-center" style="margin-top: -10px;">Our
                    LiquidLean Approach</h3>
            </div>
        </div>
        <div class="row">
            <div id="liquidlean_msg" class="col-md-3 col-sm-12 wow fadeIn animated text-center top-margin"
                 data-wow-duration="1s"
                 data-wow-delay=".3s">
                <h3><span class="number">1.</span>Innovate</h3>
                <p>Ideation, Design sprints</p>
            </div>
            <div id="liquidlean_msg2" class="col-md-3 col-sm-12 wow fadeIn animated text-center top-margin"
                 data-wow-duration="1s"
                 data-wow-delay=".5s"><h3><span class="number">2.</span>Show Me</h3>
                <p>Visualisation, Prototype, Feedback</p>
            </div>
            <div id="liquidlean_msg3" class="col-md-3 col-sm-12 wow fadeIn animated text-center top-margin"
                 data-wow-duration="1s"
                 data-wow-delay=".7s"><h3><span class="number">3.</span>Prove it</h3>
                <p>Pilot/BETA, MVP, Idea validation</p>
            </div>
            <div id="liquidlean_msg4" class="col-md-3 col-sm-12 wow fadeIn animated text-center top-margin"
                 data-wow-duration="1s"
                 data-wow-delay=".9s"><h3><span class="number">4.</span>Scale It</h3>
                <p>Implementing at scale, Expanding & engaging ecosystem, GTM strategy</p>
            </div>
            <div id="liquidlean_msg5" class="col-md-3">
                <div class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay=".4s"><h2 class="sub-headline">
                    Our LiquidLean Approach</h2>
                    <p>Through our innovative unique Liquidlean and Agile methodologies, we help businesses go to market
                        faster by saving manhours
                        involved in building complex technologies by connecting them with powerful APIs.</p>
                </div>

                <div id="liquidlean_msg6" class="download-cv wow fadeInUp animated" data-wow-duration="1s"
                     data-wow-delay=".8s"
                     style="visibility: visible !important; animation-duration: 1s; animation-delay: 0.8s; animation-name: fadeInUp;">
                    <a data-toggle="modal" data-target="#liquidleanModal">Read More</a>
                </div>
            </div>
            <div class="col-md-9">
                <img src="//s3-us-west-2.amazonaws.com/liquid.acnapi.io/img/assets/screenshot1.png"
                     class="img-responsive center-block">
            </div>
        </div>
    </div>
</section>
<!-- END: About - ->


<!-- Quotes - ->
<section id="quotes">
    <div class="container">
        <div class="quotes-overlay"></div>
        <div class="row">
            <div class="col-md-8 col-md-push-2 text-center">
                <h1 class="color-white">LiquidLean Approach</h1>
                <h2> Increase agility & maximize performance with our #ACNAPI Platform</h2>
            </div>
        </div>
    </div>
</section>
<!-- END: Quotes -->

<!-- ASSETS-->
<ng-include src="'views/landing/section/_modal.html'"></ng-include>
<!-- END: ASSETS-->
<!--
<!--Microsites - ->
<ng-include src="'views/landing/section/_microsite.html'"></ng-include>
< !-- END: Microsites - ->

<!-- TEAM - ->
<ng-include src="'views/landing/section/_photo.html'"></ng-include>
<!-- END: TEAM - ->

<!-- TEAM - ->
<ng-include src="'views/landing/section/_team.html'"></ng-include>
<!-- END: TEAM - ->

<!-- Contact - ->
<ng-include src="'views/landing/section/_contact.html'"></ng-include>
<!-- END: Contact - ->

<!-- Footer -->
<ng-include src="'views/landing/section/_footer.html'"></ng-include>
<!-- END: Footer -->

<!-- Scroll Top -->
<div class="scroll-top" style="display: none;">
    <a class="page-scroll" href="#page-top"><span class="ti-angle-up"></span></a>
</div>





