<link href="../assets/css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="../assets/css/custom/landing.css" rel="stylesheet">

<div class="wrapper">
<section>
    <div class="container">
        <div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
		<img src="../../assets/img/lrn-banner.png" class="img-responsive lrn-header-banner">
		<h1 class="lrn-header">Our LiquidLean Approach</h1>
		</div>
		</div>
		
		<div class="row lrn-content">
		<div class="col-md-12 col-sm-12 col-xs-12">
		<h2>LiquidLean</h2>
		<p>
		Through our innovative unique Liquidlean and Agile methodologies, we help businesses go to market faster by 
		saving manhours involved in building complex technologies by connecting them with powerful APIs.
		</p>
		
		<h2>LiquidLean = Lean Startup + Agile + Liquid Assembly</h2>
		<img src="../../assets/img/lrn-img-banner1.png" class="img-responsive lrn-img">
				</div>
		</div>
		
		</div>
		</section>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list-inline social-icon">
                    <li><a href="#/" style="font-size: 0.9em; color: black">Copyright 2017, LiquidLean
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>