<link href="../assets/css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="../assets/css/custom/landing.css" rel="stylesheet">


<div class="wrapper">
<section>
    <div class="container">
        <div class="row" style="z-index:999;">
		<div class="col-md-12 col-sm-12 col-xs-12">
		<img src="../../assets/img/lrn-banner.png" class="img-responsive lrn-header-banner">
		<h1 class="lrn-header">Banking API</h1>
		</div>
		</div>
		
		<div class="row lrn-content">
		<div class="text-center" style="box-shadow: 0 0 23px rgba(0,0,0,0.25);
    margin: 55px auto 55px;
    padding: 8px; width: 580px;">
	<video width="560" height="320" controls>
  <source src="http://s3.ap-south-1.amazonaws.com/swivel.accenture/ABCD+Banking+Prototype.mp4" type="video/mp4">
</video>


		<!-- 
		<iframe src="//s3.ap-south-1.amazonaws.com/swivel.accenture/ABCD+Banking+Prototype.mp4 "
   width="560" height="315" frameborder="0" allowfullscreen></iframe>
		-->	
		</div>	
		</div>
		</div>
		</section>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list-inline social-icon">
                    <li><a href="#/" style="font-size: 0.9em; color: black">Copyright 2017, LiquidLean
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
