<link href="../assets/css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="../assets/css/custom/landing.css" rel="stylesheet">

<div id="navigation" style="height: 50px;">  
        <div class="container">           
           <div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
		<img src="../../assets/img/lrn-banner.png" class="img-responsive contact-header-banner">
		<h1 class="lrn-header">Contact Us</h1>
		</div>
		</div>
        </div>
  
</div>
<section id="contact">
    <div class="container">
        <div class="row sub-icon">
            <div class="col-md-10 col-md-offset-1 col-md-push-1">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="sub-headline"> </h2>
                    </div>
<!--
                    <div class="col-sm-4 wow fadeInDown animated" data-wow-duration="1.5s" data-wow-delay=".4s"
                         style="visibility: visible !important; animation-duration: 1.5s; animation-delay: 0.4s; animation-name: fadeInDown;">
                        <h3><span class="ti-location-pin"></span>Liquidlean Studio APAC</h3>
                        <p>Raffles City Tower @ Level 14<br> 250 North Bridge Road, 179101</p>
                    </div> -->
                    <div class="col-sm-4 wow fadeInDown animated" data-wow-duration="1.5s" data-wow-delay=".6s"
                         style="visibility: visible !important; animation-duration: 1.5s; animation-delay: 0.6s; animation-name: fadeInDown;">
                        <h3><span class="ti-email"></span>Email</h3>
                        <a href="mailto:Digital.API@accenture.com">Swivel@accenture.com</a>
                    </div>
                <!--    <div class="col-sm-4 wow fadeInDown animated" data-wow-duration="1.5s" data-wow-delay=".8s"
                         style="visibility: visible !important; animation-duration: 1.5s; animation-delay: 0.8s; animation-name: fadeInDown;">
                        <h3><span class="ti-mobile"></span>Enquiry Line</h3>
                        <a href="tel:+441258889063">APAC Team : +65 6410 7539</a></br>
						<a href="tel:+441258889063">EALA Team : +44 6987 2976</a></br>
						<a href="tel:+441258889063">NA Team : +01 4982 0995</a></br>
						<a href="tel:+441258889063">INDIA Team : +91 5387 4098</a>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row top-pad sub-icon">
            <div class="col-md-8 col-md-offset-2">
                <form class="form-horizontal" name="formname" onsubmit="return false">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input id="nameVal" class="form-control" type="text" name="name" placeholder="Name"
                                   required="required">
                            <select id="subjectVal" required="required" style="margin-bottom: 10px; color: #999"
                                    class="form-control">
                                <option>Enquiries</option>
                                <option>Support / Issue Request</option>
                                <option>Feature Enquiry</option>
                                <option>Suggestions / Feedback</option>
                            </select>
                            <input id="emailVal" class="form-control" type="email" name="email" placeholder="Email"
                                   required="required">
                            <textarea id="messageVal" class="form-control" name="message" rows="4" placeholder="Message"
                                      required="required"></textarea>
                            <button type="submit" class="feedback_button btn custom-btn-2 wow fadeInUp animated"
                                    data-wow-duration="1s"
                                    data-wow-delay=".5s"
                                    style="visibility: visible !important; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
                                Submit
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list-inline social-icon">
                    <li><a href="#/" style="font-size: 0.9em; color: black">Copyright 2017, LiquidLean
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>